$main-color: #d9d9d9;
$secondary-color: #2d2d2d;

:root {
  font-size: 10px;
  --primary: #d9d9d9;
  --secondary: #2d2d2d;
  @media (max-width: 1600px) {
    font-size: 8px;
  }
  @media (max-width: 1000px) {
    font-size: 7px;
  }
  @media (max-width: 500px) {
    font-size: 6px;
  }
}
[data-theme="dark"] {
  --primary: #2d2d2d;
  --secondary: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
button {
  cursor: pointer;
}
